@import "variables.scss";
@import "type-select.scss";
@import "trbl.scss";
.wp-block-gecko-grid-layout-editor {
	>.editor-inner-blocks {
		>.editor-block-list__layout {
			padding: 1rem;
			display: grid;
			grid-template-columns: repeat(12, minmax(1px, 1fr));
			grid-gap: 1rem;
			grid-auto-rows: minmax(50px, auto);
			grid-auto-flow: dense;
			border: 1px dashed lightblue;
			margin: 0;

			>[data-type="gecko/grid-layout-item"],
			>[data-type="gecko/grid-layout-basic"],
			>[data-type="gecko/grid-layout-image"] {
				margin-left: 0 !important;
				margin-right: 0 !important;
				grid-column-end: span 1;
				grid-row-end: span 1;
				// Prevent the columns from growing wider than their distributed sizes.
				min-width: 0;

				// Prevent long unbroken words from overflowing.
				word-break: break-word; // For back-compat.
				overflow-wrap: break-word; // New standard.
				display: flex;
				flex-direction: column;
				flex: 1;
				// Responsiveness: Show at most one columns on mobile.
				flex-basis: 100%;
				padding-top: 0;
				padding-bottom: 0;
				height: 100%;
				background-size: cover;
				background-position: center;
				background-image: none !important; // Maybe move
				background-color: transparent !important; // Maybe move
				border: 1px dashed lightblue; // Maybe move
			}

			.editor-block-list__block-edit {
				flex-basis: 100%;
				display: flex;
				flex-direction: column;
				flex: 1;

				>[data-block] {
					flex-basis: 100%;
					height: 100%;
				}
			}

			>.editor-block-list__block {
				>.editor-block-list__block-edit {
					// margin-top: 1rem;
					// margin-bottom: 1rem;
					// margin-left: -28px;
					// margin-right: -28px;
				}
			}
		}
	}

	.block-list-appender {
		display: block;
		// padding: 1rem;
		text-align: center;
		grid-column: 1 / -1;
		grid-row-end: span 1;
		cursor: pointer;
		background-color: #f0f0f0;
		&:hover{
			background-color: #f3f3f3;
		}
	}
}

.gecko-grid-layout-editor-styles {
	display: none !important;
}

.gecko-grid-layout-basic,
.gecko-grid-layout-image,
.gecko-grid-layout-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
}

.is-dragging-components-draggable {
	.gecko-grid-layout-image {
		&.is-style-hover {
			.gecko-grid-layout-image__caption {
				opacity: 1 !important;
			}
		}
	}
}
