@import "variables.scss";
.wp-block-gecko-grid-layout {
	display: grid;
	grid-template-columns: repeat(12, minmax(1rem, 1fr));
	grid-gap: 1rem;
	grid-auto-rows: minmax(calc(100vw/12), auto);
	grid-auto-flow: dense;

	@media (max-width: $bp-tablet) {
		grid-template-columns: minmax(0px, 1fr) !important;
		grid-auto-rows: minmax(calc(100vw/2), auto) !important;
	}

	@media (max-width: $bp-mobile) {
		grid-template-columns: minmax(0px, 1fr) !important;
		grid-auto-rows: minmax(calc(100vw/2), auto) !important;
	}

	&__item {
		--background: white;
		--opacity: 0.5;
		position: relative;
		background-size: cover;
		background-position: center;
		grid-column-end: span 4;
		grid-row-end: span 1;
		@media (max-width: $bp-mobile) {
			grid-column: 1 / -1 !important;
		}
		&--image{
			min-height: 200px;
		}
		&--image-content {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			.wp-block-gecko-grid-layout-item {
				position: relative;
				padding: 1rem;
				height: 100%;
				z-index: 1;
				&:before {
					position: absolute;
					display: block;
					content: '';
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0.75;
					opacity: var(--opacity);
					z-index: -1;
					background-color: white;
					background-color: var(--background);
				}
			}
		}
	}
}
